%user-profile.a-main__content(update_about_you="employee_home_ctrl.updateAboutYou"
              current_user="employee_home_ctrl.current_user"
              upload="employee_home_ctrl.upload"
              remove-profile-image="employee_home_ctrl.removeProfileImage"
              locations="employee_home_ctrl.locations"
              on_profile_save="employee_home_ctrl.onProfileSave"
              on_manager_save="employee_home_ctrl.onManagerSave"
              check_custom_form_fields="employee_home_ctrl.checkCustomFormFields"
              on_personal_info_save="employee_home_ctrl.onPersonalInfoSave"
              on_additional_fields_save="employee_home_ctrl.onAdditionalFieldsSave"
              custom_field_sections="employee_home_ctrl.custom_field_sections"
              on_contact_detail_save="employee_home_ctrl.onContactDetailSave"
              profile-title="employee_home_ctrl.profile_title"
              employee="employee_home_ctrl.employee"
              team="employee_home_ctrl.team"
              team_mates="employee_home_ctrl.teamMates"
              loading_team_users="employee_home_ctrl.loading_team_users"
              next_team_user_page="employee_home_ctrl.nextTeamUserPage()"
              search_user="employee_home_ctrl.searchUser"
              update_manager="employee_home_ctrl.updateManager"
              show_manager_select="employee_home_ctrl.show_manager_select"
              edit_manager="employee_home_ctrl.editManager"
              employee_types="employee_home_ctrl.employee_types"
              reports="employee_home_ctrl.manager_reports"
              is_disabled="employee_home_ctrl.isDisabled"
              social_link_u_r_l="employee_home_ctrl.socialLinkURL"
              can_edit_form="employee_home_ctrl.canEditForm"
              employee_home_spinner="employee_home_ctrl.employee_home_spinner"
              on_private_info_save="employee_home_ctrl.onPrivateInfoSave"
              can_edit_and_view_form="employee_home_ctrl.canEditAndViewForm"
              can_view_form="employee_home_ctrl.canViewForm"
              get_task_count="employee_home_ctrl.get_task_count"
              open_tasks_view="employee_home_ctrl.openTasksView"
              go_to_activitiy_page="employee_home_ctrl.goToActivitiyPage"
              go_to_employee_record="employee_home_ctrl.goToEmployeeRecord"
              go_to_activites_tab="employee_home_ctrl.goToActivitesTab"
              hide_activity="employee_home_ctrl.hideActivity"
              go_to_employee_roadmap="employee_home_ctrl.goToEmployeeRoadmap"
              can_view_activites="employee_home_ctrl.canViewActivites"
              show_activities_help="employee_home_ctrl.showActivitiesHelp"
              singular_department="employee_home_ctrl.company.singular_department"
              buddy_title="employee_home_ctrl.company.buddy"
              show_buddy_select="employee_home_ctrl.show_buddy_select"
              edit_buddy="employee_home_ctrl.editBuddy"
              update_buddy="employee_home_ctrl.updateBuddy"
              get_outcome_count="employee_home_ctrl.getOutcomeCount"
              activity_stream="employee_home_ctrl.activity_stream"
              reload_user_acitivity_stream="employee_home_ctrl.reloadUserAcitivityStream"
              states="employee_home_ctrl.states"
              panel_heights="employee_home_ctrl.panel_heights"
              get_panel_sizes="employee_home_ctrl.getPanelSizes"
              go_to_documents="employee_home_ctrl.goToDocuments"
              company="employee_home_ctrl.company"
              profile_fields="employee_home_ctrl.profileFields"
              employee_title_location="employee_home_ctrl.employeeTitleLocation"
              go_to_max_activities="employee_home_ctrl.goToMaxActivities"
              get_total_activities_count="employee_home_ctrl.getTotalActivitiesCount"
              get_outstanding_activities_count="employee_home_ctrl.getOutstandingActivitiesCount"
              get_is_all_tasks_completed_message="employee_home_ctrl.getIsAllTasksCompletedMessage"
              in_complete_activities_count="employee_home_ctrl.in_complete_activities_count"
              on_selected_manager="employee_home_ctrl.onSelectedManager"
              get_incomplete_documents_count="employee_home_ctrl.getIncompleteDocumentsCount"
              get_new_hire_information_count="employee_home_ctrl.getNewHireInformationCount"
              open_most_recent_new_hire_form="employee_home_ctrl.openMostRecentNewHireForm"
              join_state="employee_home_ctrl.join_state"
            )
